In [269]:

#1. Write a program that open an output file with the 
#   filename my_name.txt, writes your name to the file then closes the file
my_file = open("my_name.txt", "wt")
my_file.write('Loretta')
my_file.close()

In [270]:

#2. Write a program that open a file created in 1, reads name from my_name.txt
#   displays name on screen then closes the file
my_file = open("my_name.txt", "rt")
my_name = my_file.read()
print('Reading: ', my_name)
my_file.close()

Reading:  Loretta

In [271]:
#3. Write code that : opens an output file with name number_list.txt,
#   with a loop to write numbers 1 through 100, then close the file
import numpy as np
numFile = open("number_list.txt","rt")
numList = numFile.read()
n = 1 
for i in range(0,101):
    index = 0
    i = i - n
    while n < 1:
     numFile.close()

In [272]:


#4. Write code to open number_list.txt and displays all
#   the numbers numbers 1 through 100, then close the file
#   numFile = open("number_list.txt","w")
import numpy as np
numFile = open("number_list.txt","w")
numList = numFile
n = 1 
for i in range(0,101):
    index = 0
    print(i)
    i = i -n
    while n < 1:
     numList.write('{}n'.format(i))
     numFile.close()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [273]:

#5. count how many words in a string
#   import the string and split the words using split()
#   save in dictionary
fileName = open("text.txt", "rt")
test_file = fileName.read()
words = test_file.split()
for i in range(1):
  index = 0
print(test_file)
i = i - n
while n < 1:
  words = len(test_file.split())
print("The number of words in the string are :",  + len(words))

This is a test file. Please count how many words in this file.
The number of words in the string are : 13

In [274]:
#6. Pandas Series - Write python code to create series from a list.
import pandas as pd
# default index ranges is from 0 to len(list) - 1
serList = pd.Series(['apple', 'orange', 'cherry']) 
print(serList)

0     apple
1    orange
2    cherry
dtype: object

In [275]:
#7. Combine two Pandas Series ser1 and ser2 from a data frame.
# import pandas library
import pandas as pd
ser1 = pd.Series(["red", "green",
               "yellow"])
ser2 = pd.Series(["blue", "orange",
               "purple"])
# combine two series then show data frame
df = pd.DataFrame(ser1.append(ser2,
     ignore_index = True))
# show the dataframe
df

        0
0     red
1   green
2  yellow
3    blue
4  orange
5  purple

In [276]:
#8. Write code to get the information of the data frame in 6.
import pandas as pd
# default index ranges is from 0 to len(list) - 1
serList = pd.Series(['apple', 'orange', 'cherry']) 
print(serList)
df = pd.DataFrame(serList)
# show the dataframe
df

0     apple
1    orange
2    cherry
dtype: object

        0
0   apple
1  orange
2  cherry

In [277]:
#9.  Import dirty_data.csv into a data frame
#    replace all missing values with max value of that column.
#    Fix ====> later
import csv
import pandas as pd 
import numpy as np

df = pd.read_csv("dirtydata.csv")
fileName = open("dirtydata.csv", 'r')
n= 1
for i in range(1):
  print('This is the original DirtyData file : ')   
  print(df) 
i = i - n
while n < 1:  
  df.fillna('', inplace = True)
print(df.max(), 'found highesst values')
maxVal = df.max(1)
maxVal2 = df.isnull().max(0)
print(maxVal2 ,'True: Date & Calories have NaN.')
n= 1
for i in range(1):
  index = 0
  i = i - n
while n < 1:
  print ('Number of Na values present: ')

This is the original DirtyData file :
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
Duration    450.0
Pulse       130.0
Maxpulse    175.0
Calories    479.0
dtype: float64 found highesst values
Duration    False
Date         True
Pulse       False
Maxpulse    False
Calories     True
dtype: bool True: Date & Calories have NaN.

<ipython-input-277-7b0c427b3208>:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.max(), 'found highesst values')
<ipython-input-277-7b0c427b3208>:18: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  maxVal = df.max(1)

In [278]:
#10. import the user_data.csv and analyse
#    a) check if any missing data, if yes drop the row
#    b) check correlation of the data
#    c) visualize the data and observ the distribution of the data

import csv
import pandas as pd
import numpy as np
df = pd.read_csv("User_Data.csv")
FileName = open("User_Data.csv",'r')
new_df = df.dropna()
#print(new_df.to_string())
n = 1
for i in range(1):
  index = 0
print('This is the original User_Data file: ')
print(df)
i = i - n
while n < i:

  print('No Data')

This is the original User_Data file:
      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [283]:
#11.  for the code below
def my_function(food,number):

  food = ("orange","banana","cherry")
  number = 10
  print(food(number))
#  position 10 "banana, a" gets printed  
 
  number = 1
  fruits = ("apple","banana","cherry")

  my_function(fruits,10)
  print(fruits)
  print(number)

  print('What is the out put and why?')

In [48]:
# 11. Replace the space in my_str with the least frequent character
#     my_str='abc deb abd ggade', 'c' is the least frequent character, so
#     replace the space with 'c'
 
import pandas as pd
my_str = 'abc deb abd ggade'
print("Input series:")
print(my_str)
my_str = pd.Series(list(my_str))
freqElem = my_str.value_counts()
print(freqElem)
curElem = freqElem.dropna().index[-1]
result = "".join(my_str.replace(' ', curElem))
print(result)

Input series:
abc deb abd ggade
a    3
b    3
     3
d    3
e    2
g    2
c    1
dtype: int64
abccdebcabdcggade

In [280]:
from IPython.utils.capture import capture_output
from pandas.core.arrays.interval import value_counts
#12. ser1 = pd.Series([1,2,3,4,5])
#    ser2 = pd.Series([4,5,6,7,8])
#  Get all common items in ser1 and ser2.
import pandas as pd
import numpy as np
ser1 = ([1,2,3,4,5])
ser2 = ([4,5,6,7,8])
print ('Input series:', ser1 , ser2) 
my_ser1 = pd.Series(list(ser1))
my_ser2 = pd.Series(list(ser2))
freqElem =(my_ser1.value_counts() + my_ser2.value_counts())
print(freqElem)

newFreq = freqElem.dropna().index[-1]
newFreqElem = freqElem.value_counts()
result = "".join(newFreqElem.replace('', newFreq))
n = 1
for i in range(1):
  index = 0
print(result)

Input series: [1, 2, 3, 4, 5] [4, 5, 6, 7, 8]
1    NaN
2    NaN
3    NaN
4    2.0
5    2.0
6    NaN
7    NaN
8    NaN
dtype: float64

TypeError: ignored

In [281]:
#13. Randum Number Guessing Game
#Write a program that generates a random num (1,100).
# create prompt to guess what the number is
#display "Too High, try again' or "To Low, try again"
#congatulate for correct guesses and start game over
#Optiona Enhancement: keep count of number of guesses,
# display when the guess correct
import csv
import numpy as np
import pandas as pd
import random
#local test to see if works
rNum = 46
#rNnum = random.NumRange(1,100)
yourGuess = int(input("Guess a number betweem 1 and 100: "))
while yourGuess != rNum:
   if yourGuess < rNum:
     print("Too Low, try again")
     yourGuess = int(input("\nGuess a number between 1 and 100: "))
   else:
      print("Too High, try again")
      yourGuess = int(input("\nGuess a number between 1 and 100: "))
print("Congratulations, Your Guess is correct!  ")

Guess a number betweem 1 and 100: 88
Too High, try again

Guess a number between 1 and 100: 8
Too Low, try again

Guess a number between 1 and 100: 46
Congratulations, Your Guess is correct!

In [282]:
#14. Create a data frame, and reverse all the rows of a data frame df.
# Here we are just resetting the indexing for the entire database
# and reversing the database.
# Import pandas library
import pandas as pd
  
# initialize list of lists
data = [[112295, 9358, 21370, 90925], [78655, 6555, 23596, 55058], [87544, 7295, 26263, 61280]]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Yearly', 'Monthly', '(Tax)', 'Net'])
# print dataframe.
print('Input: Assumes 30% Tax Bracket')
print (' ')
print(df)
df = pd.DataFrame(data)
print(' ')
# show the dataframe
df

#reversing the database.
df = pd.DataFrame(data, columns=['Yearly', 'Monthly', 'Tax', 'Net'])
df = df.loc[::-1].reset_index(drop=True).head()
print('Reversed:')
print (' ')
print(df)

Input: Assumes 30% Tax Bracket

   Yearly  Monthly  (Tax)    Net
0  112295     9358  21370  90925
1   78655     6555  23596  55058
2   87544     7295  26263  61280

Reversed:

   Yearly  Monthly    Tax    Net
0   87544     7295  26263  61280
1   78655     6555  23596  55058
2  112295     9358  21370  90925